<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="EventPlannerDbConnectionString" connectionString="Host=localhost;Port=5432;Username=postgres;Password=vitalik;Database=EventPlanner"/>
  </connectionStrings>
</configuration>
